@use 'sass:color';

$color-primary: (
  // light
  'light-dark-2': #0062d6,
  'light-default': #0077fa,
  'light-light-3': #3295fb,
  'light-light-5': #65b2fc,
  'light-light-7': #98cdfd,
  'light-light-8': #cbe7fe,
  'light-light-9': #eaf5ff,
  // dark
  'dark-dark-2': #7fc1ff,
  'dark-default': #54a9ff,
  'dark-light-3': #2990ff,
  'dark-light-5': #1d75db,
  'dark-light-7': #135cb8,
  'dark-light-8': #0a4694,
  'dark-light-9': #053170
);

$color-success: (
  // light
  'light-dark-2': #30953b,
  'light-default': #3bb346,
  'light-light-3': #5ac262,
  'light-light-5': #7dd182,
  'light-light-7': #a4e0a7,
  'light-light-8': #d0f0d1,
  'light-light-9': #ecf7ec,
  // dark
  'dark-dark-2': #7fd184,
  'dark-default': #5dc264,
  'dark-light-3': #3eb349,
  'dark-light-5': #32953d,
  'dark-light-7': #277731,
  'dark-light-8': #1c5a25,
  'dark-light-9': #123c19
);

$color-warning: (
  // light
  'light-dark-2': #d26700,
  'light-default': #fc8800,
  'light-light-3': #fda633,
  'light-light-5': #fdc165,
  'light-light-7': #fed998,
  'light-light-8': #feeecc,
  'light-light-9': #fff8ea,
  // dark
  'dark-dark-2': #ffc772,
  'dark-default': #ffae43,
  'dark-light-3': #ff9214,
  'dark-light-5': #d56f0f,
  'dark-light-7': #aa500a,
  'dark-light-8': #803506,
  'dark-light-9': #551f03
);

$color-danger: (
  // light
  'light-dark-2': #d52515,
  'light-default': #f93920,
  'light-light-3': #fa664c,
  'light-light-5': #fb9078,
  'light-light-7': #fdb7a5,
  'light-light-8': #feddd2,
  'light-light-9': #fef2ed,
  // dark
  'dark-dark-2': #fd9983,
  'dark-default': #fc725a,
  'dark-light-3': #fb4932,
  'dark-light-5': #d73324,
  'dark-light-7': #b42019,
  'dark-light-8': #901110,
  'dark-light-9': #6c090b
);

$color-info: (
  // light
  'light-dark-2': #555b61,
  'light-default': #6b7075,
  'light-light-3': #888d92,
  'light-light-5': #a7abb0,
  'light-light-7': #c6cacd,
  'light-light-8': #e6e8ea,
  'light-light-9': #f9f9f9,
  // dark
  'dark-dark-2': #a6a9ad,
  'dark-default': #909399,
  'dark-light-3': #6b6d71,
  'dark-light-5': #525457,
  'dark-light-7': #393a3c,
  'dark-light-8': #2d2d2f,
  'dark-light-9': #202121
);

$color-text: (
  // light
  'light-primary': #303133,
  'light-regular': #606266,
  'light-secondary': #909399,
  'light-placeholder': #a8abb2,
  'light-disabled': #c0c4cc,
  // dark
  'dark-primary': #e5eaf3,
  'dark-regular': #cfd3dc,
  'dark-secondary': #a3a6ad,
  'dark-placeholder': #8d9095,
  'dark-disabled': #6c6e72
);

$color-fill: (
  // light
  'light-darker': #e6e8eb,
  'light-dark': #ebedf0,
  'light-default': #f0f2f5,
  'light-light': #f5f7fa,
  'light-lighter': #fafafa,
  'light-extra-light': #fafcff,
  'light-blank': #ffffff,
  // dark
  'dark-darker': #424243,
  'dark-dark': #39393a,
  'dark-default': #303030,
  'dark-light': #262727,
  'dark-lighter': #1d1d1d,
  'dark-extra-light': #191919,
  'dark-blank': #{rgba($color-black, 0)}
);

$color-border: (
  // light
  'light-darker': #cdd0d6,
  'light-dark': #d4d7de,
  'light-default': #dcdfe6,
  'light-light': #e4e7ed,
  'light-lighter': #ebeef5,
  'light-extra-light': #f2f5fc,
  // dark
  'dark-darker': #636466,
  'dark-dark': #58585b,
  'dark-default': #4c4d4f,
  'dark-light': #414243,
  'dark-lighter': #363637,
  'dark-extra-light': #2b2b2c
);

$color-background: (
  // light
  'light-page': #f2f3f5,
  'light-default': #fff,
  'light-overlay': #fff,
  'light-transparent': #{rgba($color-white, 0)},
  // dark
  'dark-page': #0a0a0a,
  'dark-default': #141414,
  'dark-overlay': #1d1e1f,
  'dark-transparent': #{rgba($color-black, 0)}
);

$color-mask: (
  // light
  'light-default': #{rgba($color-white, 0.9)},
  'light-extra-light': #{rgba($color-white, 0.3)},
  // dark
  'dark-default': #{rgba($color-black, 0.8)},
  'dark-extra-light': #{rgba($color-black, 0.3)}
);

$color-overlay: (
  // light
  'light-default': #{rgba($color-black, 0.8)},
  'light-light': #{rgba($color-black, 0.6)},
  'light-lighter': #{rgba($color-black, 0.5)},
  // dark
  'dark-default': #{rgba($color-white, 0.8)},
  'dark-light': #{rgba($color-white, 0.6)},
  'dark-lighter': #{rgba($color-white, 0.5)}
);

// TODO: 待确认
$color-tooltip: (
  //light
  'light-default': #{rgba($color-black, 0.85)},
  //dark
  'dark-default': #424242
);
