$wave-width: 6px;

@keyframes wave-animate {
  0% {
    box-shadow: 0 0 0 0 var(--wave-color);
  }

  66% {
    box-shadow: 0 0 0 6px var(--wave-color);
  }

  100% {
    box-shadow: 0 0 0 6px var(--wave-color);
    opacity: 0;
  }
}
