// 引入 css 基础配置文件
@import '../../style/base.scss';

@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-drawer;

.#{$comp} {
  @include reset-component();

  pointer-events: none;
  margin: 0 auto;
  position: relative;
  top: 100px;
  max-width: calc(100vw - var(--#{$prefix}-unit-8));
  padding-bottom: var(--#{$prefix}-unit-6);
  width: 520px;

  &__close {
    position: absolute;
    right: var(--#{$prefix}-unit-6);
    top: var(--#{$prefix}-unit-5);
    padding: 0;
    // color: ;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: var(--#{$prefix}-unit-4);
    height: var(--#{$prefix}-unit-4);

    &:focus-visible {
      outline-width: var(--#{$prefix}-line-width);
      outline-offset: calc(var(--#{$prefix}-unit-1) - var(--#{$prefix}-line-width));
      outline-color: var(--#{$prefix}-color-primary);
    }
  }

  &__main {
    position: relative;
    background-color: var(--#{$prefix}-color-bg-container);
    border-radius: var(--#{$prefix}-border-radius);
    box-shadow: var(--#{$prefix}-box-shadow);
    pointer-events: auto;
    padding: var(--#{$prefix}-unit-5) var(--#{$prefix}-unit-6);
  }

  &__header {
    margin-bottom: var(--#{$prefix}-unit-2);
  }

  &__title {
    line-height: var(--#{$prefix}-line-height);
    font-size: var(--#{$prefix}-font-size);
    font-weight: var(--#{$prefix}-font-weight-strong);
    color: var(--#{$prefix}-color-text);
    margin-right: var(--#{$prefix}-unit-3);
    word-wrap: break-word;
    display: inline-block;
  }

  &__body {
    font-size: var(--#{$prefix}-font-size);
    word-wrap: break-word;
  }

  &__footer {
    text-align: end;
    margin-top: var(--#{$prefix}-unit-3);

    .#{$prefix}-button + .#{$prefix}-button {
      margin-left: var(--#{$prefix}-unit-2);
    }
  }

  &-mask {
    @include full-screen();
    pointer-events: none;
    background-color: var(--#{$prefix}-color-bg-mask);
  }

  &-wrap {
    @include full-screen();
  }
}
