@use 'sass:math';

@mixin btn-base() {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: $kpi-btn-border;
  font-weight: var(--#{$prefix}-font-weight-regular);
  text-align: center;
  white-space: nowrap;
  outline: transparent solid $kpi-btn-outline-width;
  transition: $kpi-btn-transition;
  background-image: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  > span {
    display: inline-block;
  }
  > .#{$prefix-icon} {
    line-height: 1;
  }

  &:hover,
  &:active,
  &:not([disabled]):hover {
    text-decoration: none;
  }

  &[disabled] {
    cursor: not-allowed;

    > * {
      pointer-events: none;
    }
  }
}

@mixin btn-size($height, $padding, $font) {
  padding: $padding;
  height: $height;
  font-size: $font;
}

@mixin btn-radius($radius) {
  border-radius: $radius;
}
