@import '../mixins/reset.scss';

[class^='#{$prefix}-'],
[class*='#{$prefix}-'] {
  // remove the clear button of a text input control in IE10+
  &::-ms-clear,
  input::-ms-clear,
  input::-ms-reveal {
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include reset-component();
  font-family: var(--#{$prefix}-font-family);
  background-color: var(--#{$prefix}-color-background-default);
}
