@use 'sass:list';
@use 'sass:math';
@import './tiny';

$HUE_STEP: 2;
$SATURATION_STEP: 0.16, 0.05;
$BRIGHTNESS_STEP: 0.05, -0.15;
$COLOR_COUNT: 5, 4;

@function H($H, $i, $light) {
	@if ($H >= 60 and $H <= 240) {
		$multiple: if($light, -1, 1);
		$H: $H + $HUE_STEP * $i * $multiple;
	} @else {
		$multiple: if($light, 1, -1);
		$H: $H + $HUE_STEP * $i * $multiple;
	}
	// 控制在 0 - 360 以内
	@return round(($H + 360) % 360);
}

@function S($S, $i, $light) {
	$S: math.div($S, 100%);
	@if ($light) {
		$S: $S - list.nth($SATURATION_STEP, 1) * $i;
	} @else if($i == list.nth($COLOR_COUNT, 2)) {
		$S: $S + list.nth($SATURATION_STEP, 1);
	} @else {
		$S: $S + list.nth($SATURATION_STEP, 2) * $i;
	}
	$S: min($S, 100%);
	@if ($light and $i== list.nth($COLOR_COUNT, 1) and $S > 0.1) {
		$S: 0.1;
	}
	@return round(percentage(clamp(0.06, $S, 1)));
}

@function V($V, $i, $light) {
	$V: math.div($V, 100%);
	$index: if($light, 1, 2);
	$step: list.nth($BRIGHTNESS_STEP, $index);
	// 控制在 0 - 360 以内
	@return round(percentage(min($V + $step * $i, 1)));
}

@function palette($color, $index: 6) {
	$light: $index <= 6;
	$lightColorCount: 5;
	$i: if($light, $lightColorCount + 1 - $index, $index - $lightColorCount - 1);
	$hsv: hsl_to_hsv($color);

	$hsv-s: list.nth($hsv, 2);
	@if ($hsv-s < 70%) {
		@warn '饱和度建议不低于70（当前：#{math.div($hsv-s, 1%)}）';
	}
	$H: H(list.nth($hsv, 1), $i, $light);
	$S: S(list.nth($hsv, 2), $i, $light);
	$V: V(list.nth($hsv, 3), $i, $light);
	// @return $H $S $V;
	@return hsv_to_rgb($H, $S, $V);
}
