@use "sass:color";
@use "sass:math";

// 将颜色转换成 hsv 模式
@function hsl_to_hsv($color) {
	$hsl-h: color.hue($color);
	$hsl-s: color.saturation($color);
	$hsl-l: color.lightness($color);

	$hsl-h: math.div($hsl-h * math.$pi, 180deg);
	$hsl-s: 0 + math.div($hsl-s, 100%);
	$hsl-l: 0 + math.div($hsl-l, 100%) * 2;

	$hsl-s: if($hsl-l <= 1, $hsl-s * $hsl-l, $hsl-s * (2 - $hsl-l));
	$hsl-v: math.div($hsl-l + $hsl-s, 2);

	$hsl-s: if($hsl-l + $hsl-s != 0, math.div(2 * $hsl-s, $hsl-l + $hsl-s), 0);

	$hsv-h: color.hue($color);
	$hsv-s: percentage(max(0, min(1, $hsl-s)));
	$hsv-v: percentage(max(0, min(1, $hsl-v)));
	@return ($hsv-h, $hsv-s, $hsv-v);
}
@function hsv_to_rgb($h, $s, $v) {
	@if ($v == 0) {
		@return hsl(0, 0, 0);
	} @else {
		$hsl-l: math.div($v, 2) * (2 - math.div($s, 100%));
		$hsl-s: math.div(($v * $s), if($hsl-l < 50, $hsl-l * 2, 200 - $hsl-l * 2));
		@return hsl($h, $hsl-s, $hsl-l);
	}
}
