.fade-enter-from,
.fade-exit-to {
  transform: translateX(260px);
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: all 2s ease-out;
}

.collapse-enter-from {
  opacity: 0;
}

.collapse-enter-active {
  overflow: hidden;
  transition: height 2s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 2 cubic-bezier(0.645, 0.045, 0.355, 1);
}

.collapse-enter-to {
  opacity: 1;
}

.collapse-exit-from {
  opacity: 1;
}

.collapse-exit-active {
  overflow: hidden;
  transition: height 2s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.collapse-exit-to {
  opacity: 0;
}
