.window {
  display: flex;
  justify-content: space-between;
  .left {
    width: 300px;
    background-color: #eee;
    height: 1000px;
  }
  .right {
    width: 300px;
    background-color: #eee;
    height: 1000px;
  }
}
.center {
  margin-top: 300px;
}
.underline {
  height: 10px;
  width: 100px;
  background: #8855ff;
}
.left {
  .underline {
    position: relative;
    left: 30px;
    top: 30px;
    height: 20px;
    width: 300px;
  }
}
.right {
  .underline {
    position: absolute;
    bottom: 30px;
    height: 100px;
    width: 200px;
  }
}
