.fade-enter-from,
.fade-exit-to {
  transform: translateX(30px);
  /* opacity: 0; */
}

.fade-exit {
  position: absolute;
}
.fade-move {
  transition: all 11s ease-in-out;
}
.fade-enter-active,
.fade-exit-active {
  transition: all 11s ease-in-out;
}

.collapse-enter-from {
  opacity: 0;
}

.collapse-enter-active {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.collapse-enter-to {
  opacity: 1;
}

.collapse-exit-from {
  opacity: 1;
}

.collapse-exit-active {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.collapse-exit-to {
  opacity: 0;
}
