/**
.a {
  width: 300px;
  color: red;
}

.err-list-enter-from,
.err-list-exit-to {
  opacity: 0;
  transform: translate3d(0, -5px, 0);
}

.err-list-enter-active,
.err-list-exit-active {
  overflow: hidden;
  transition: opacity 0.35s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

**/

.a {
  color: red;
}
.kpi-err-list {
  &-enter-from,
  &-exit-to {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }

  &-exit-from,
  &-enter-to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &-enter-active,
  &-exit-active {
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
