@use 'sass:math';
// 优化打包性能引入除了 preset 的内容, 顺序不可该变
@import '../../style/variables.scss'; // 引入 变量
@import '../../style/mixins/index.scss'; // 引入 reset

@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-tooltip;

.#{$comp} {
  @include reset-component();

  position: absolute;
  width: max-content;
  max-width: var(--#{$prefix}-size-unit-64);
  padding: var(--#{$prefix}-size-unit-1) var(--#{$prefix}-size-unit-2);
  background-color: red;
  border-radius: var(--#{$prefix}-border-radius-default);
  // background-color: var(--#{$prefix}-color-overlay-default);
  transform-origin: var(--origin-x, 50%) var(--origin-y, 50%);
}

.#{$comp}__arrow {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: $kpi-tooltip-arrow-size * 2;
  height: $kpi-tooltip-arrow-size * 2;

  &::before {
    content: '';
    display: block;
    width: $kpi-tooltip-arrow-size;
    height: $kpi-tooltip-arrow-size;
    transform: translate3d(50%, 50%, 0) rotate(45deg);
    border-bottom-right-radius: 2px;
    background-color: red;
  }
}

// /* ******************** margin rotate ******************** */
// .#{$comp}[data-popup-placement^='top'] {
//   .#{$comp}__content {
//     margin-bottom: $kpi-tooltip-arrow-size;
//   }
//   &.#{$comp}-has-arrow {
//     .#{$comp}__content {
//       margin-bottom: math.div($kpi-tooltip-arrow-size * 3, 2);
//     }
//   }
// }

// .#{$comp}[data-popup-placement^='right'] {
//   .#{$comp}__arrow {
//     transform: rotate(90deg);
//   }

//   .#{$comp}__content {
//     margin-left: $kpi-tooltip-arrow-size;
//   }
//   &.#{$comp}-has-arrow {
//     .#{$comp}__content {
//       margin-left: math.div($kpi-tooltip-arrow-size * 3, 2);
//     }
//   }
// }

// .#{$comp}[data-popup-placement^='bottom'] {
//   .#{$comp}__arrow {
//     transform: rotate(180deg);
//   }

//   .#{$comp}__content {
//     margin-top: $kpi-tooltip-arrow-size;
//   }
//   &.#{$comp}-has-arrow {
//     .#{$comp}__content {
//       margin-top: math.div($kpi-tooltip-arrow-size * 3, 2);
//     }
//   }
// }

// .#{$comp}[data-popup-placement^='left'] {
//   .#{$comp}__arrow {
//     transform: rotate(270deg);
//   }

//   .#{$comp}__content {
//     margin-right: $kpi-tooltip-arrow-size;
//   }
//   &.#{$comp}-has-arrow {
//     .#{$comp}__content {
//       margin-right: math.div($kpi-tooltip-arrow-size * 3, 2);
//     }
//   }
// }
