// 优化打包性能引入除了 preset 的内容, 顺序不可该变
@import '../../style/variables.scss'; // 引入 变量
@import '../../style/mixins/index.scss'; // 引入 reset

@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-tooltip;

.#{$comp} {
  @include reset-component();

  position: absolute;
  width: max-content;

  transform-origin: var(--origin-x, 50%) var(--origin-y, 50%);

  &.#{$comp}-topLeft {
    .#{$comp}__arrow {
      bottom: $kpi-tooltip-size;
      left: $kpi-tooltip-offset-x;
      transform: translate3d(0, 100%, 0) rotate(180deg);
    }
  }

  &.#{$comp}-top {
    .#{$comp}__arrow {
      bottom: 0;
      left: 50%;
      transform: translate3d(-50%, 100%, 0) rotate(180deg);
    }
  }

  &.#{$comp}-topRight {
    .#{$comp}__arrow {
      bottom: 0;
      right: $kpi-tooltip-offset-x;
      transform: translate3d(0, 100%, 0) rotate(180deg);
    }
  }

  &.#{$comp}-rightTop {
    .#{$comp}__arrow {
      left: 0;
      top: $kpi-tooltip-offset-y;
      transform: translate3d(-100%, 0%, 0) rotate(-90deg);
    }
  }

  &.#{$comp}-right {
    .#{$comp}__arrow {
      left: 0;
      top: 50%;
      transform: translate3d(-100%, -50%, 0) rotate(-90deg);
    }
  }

  &.#{$comp}-rightBottom {
    .#{$comp}__arrow {
      left: 0;
      bottom: $kpi-tooltip-offset-y;
      transform: translate3d(-100%, 0%, 0) rotate(-90deg);
    }
  }

  &.#{$comp}-bottomLeft {
    .#{$comp}__arrow {
      top: 0;
      left: $kpi-tooltip-offset-x;
      transform: translate3d(0, -100%, 0) rotate(0deg);
    }
  }

  &.#{$comp}-bottom {
    .#{$comp}__arrow {
      top: 0;
      left: 50%;
      transform: translate3d(-50%, -100%, 0) rotate(0deg);
    }
  }

  &.#{$comp}-bottomRight {
    .#{$comp}__arrow {
      top: 0;
      right: $kpi-tooltip-offset-x;
      transform: translate3d(0, -100%, 0) rotate(0deg);
    }
  }

  &.#{$comp}-leftTop {
    .#{$comp}__arrow {
      right: 0;
      top: $kpi-tooltip-offset-y;
      transform: translate3d(100%, 0, 0) rotate(90deg);
    }
  }

  &.#{$comp}-left {
    .#{$comp}__arrow {
      right: 0;
      top: 50%;
      transform: translate3d(100%, -50%, 0) rotate(90deg);
    }
  }

  &.#{$comp}-leftBottom {
    .#{$comp}__arrow {
      right: 0;
      bottom: $kpi-tooltip-offset-y;
      transform: translate3d(100%, 0, 0) rotate(90deg);
    }
  }
}

.#{$comp}__content {
  padding: 4px;
  min-width: 100px;
  background-color: red;
  border-radius: 4px;
  margin-bottom: $kpi-tooltip-offset;
}

.#{$comp}__arrow {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: $kpi-tooltip-size;
  height: $kpi-tooltip-size;
  overflow: hidden;
  background-color: red;
  transform: rotate(45deg);
}

.#{$comp}-has-arrow {
  .#{$comp}__content {
    margin-bottom: 16px;
  }
}
