@use 'sass:math';
@import './utils';
@import './variable';

@mixin btn-base() {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: $btn-border-width $btn-border-style transparent;
  box-shadow: $btn-shadow;
  cursor: pointer;
  transition: all 0.3s $ease-in-out;
  user-select: none;
  touch-action: manipulation;
  @include btn-size($btn-height-base, $btn-font-size-base, $btn-px-base, $btn-border-raduis);
  > span {
    display: inline-block;
  }
  > .#{$prefix-icon} {
    line-height: 1;
  }

  &,
  &:active,
  &:focus {
    outline: 0;
  }

  &:not([disabled]):hover {
    text-decoration: none;
  }

  &:not([disabled]):active {
    outline: 0;
    box-shadow: none;
  }

  &[disabled] {
    cursor: not-allowed;

    > * {
      pointer-events: none;
    }
  }
}

@mixin btn-lg {
  @include btn-size($btn-height-lg, $btn-font-size-lg, $btn-px-base, $btn-border-raduis);
}
@mixin btn-sm {
  @include btn-size($btn-height-sm, $btn-font-size-sm, $btn-px-sm, $btn-border-raduis);
}
@mixin btn-default {
  @include btn-variant($btn-default-text, $btn-default-bg, $btn-default-border);
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background: $btn-default-bg;
  }
  @include btn-disabled();
}

@mixin btn-dashed {
  @include btn-variant($btn-default-text, $btn-default-bg, $btn-default-border);
  border-style: dashed;
}

@mixin btn-text {
  @include btn-variant($btn-link-text, transparent, transparent, 'text');
  box-shadow: none;
  &:hover {
    background: transparent;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include btn-disabled(undefined, transparent, transparent);
}

@mixin btn-primary {
  @include btn-variant($btn-primary-text, $btn-primary-bg, $btn-primary-border, 'primary');
  text-shadow: $btn-text-shadow;
  box-shadow: $btn-primary-shadow;
  @include btn-disabled();
}

@mixin btn-circle($btn-cls) {
  min-width: $btn-height-base;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 50%;
  &.#{$btn-cls}-lg {
    min-width: $btn-height-lg;
  }
  &.#{$btn-cls}-sm {
    min-width: $btn-height-sm;
  }
}

@mixin btn-round($btn-cls) {
  $px: math.div($btn-height-base, 2);
  @include btn-size($btn-height-base, $btn-font-size-base, $px, $btn-height-base);
  &.#{$btn-cls}-lg {
    $px: math.div($btn-height-lg, 2);
    @include btn-size($btn-height-lg, $btn-font-size-lg, $px, $btn-height-lg);
  }
  &.#{$btn-cls}-sm {
    $px: math.div($btn-height-sm, 2);
    @include btn-size($btn-height-sm, $btn-font-size-sm, $px, $btn-height-sm);
  }
}

@mixin btn-danger($btn-cls) {
  @include btn-variant($btn-danger-text, null, $btn-danger-border, 'danger');
  &.#{$btn-cls}-primary {
    @include btn-variant($btn-primary-text, $btn-danger-bg, $btn-danger-border, 'primary');
    @include btn-disabled();
  }
  &.#{$btn-cls}-text {
    @include btn-variant($btn-danger-text, transparent, transparent, 'text');
    @include btn-disabled($btn-disabled-text, undefined, transparent);
  }
}

@mixin btn-ghost($btn-cls) {
  @include btn-variant($btn-ghost-text, transparent, $btn-primary-text, 'default', true);
  @include btn-disabled(undefined, transparent, undefined);
  &.#{$btn-cls}-primary {
    @include btn-variant($btn-primary-bg, $btn-primary-bg, $btn-primary-border, 'primary', true);
  }
  &.#{$btn-cls}-danger {
    @include btn-variant($btn-danger-text, transparent, $btn-danger-border, 'danger', true);
  }
  background: 0 0;
  text-decoration: none;
  text-shadow: none;
}

// @mixin btn-base() {
// }

// // 主题 暂时只有 default primary danger
// @mixin btn-theme() {
// }

// // 大小
// @mixin btn-size() {
// }

// // link
// @mixin btn-link() {
// }

// // ghost
// @mixin btn-ghost() {
// }
