@import './mixin';
@import '../../style/index.scss';

$btn-cls: '#{$prefix}-btn';
.#{$btn-cls} {
  @include btn();
  @include btn-default();
  line-height: $btn-line-height;

  // 预设颜色
  &-primary {
    @include btn-primary();
  }

  &-dashed {
    @include btn-dashed();
  }
  &-text {
    @include btn-text();
  }
  &-lg {
    @include btn-lg();
  }
  &-sm {
    @include btn-sm();
  }
  &-block {
    width: 100%;
  }

  &-circle {
    @include btn-circle($btn-cls);
  }
  &-round {
    @include btn-round($btn-cls);
  }
  &-danger {
    @include btn-danger($btn-cls);
  }
  &-ghost {
    @include btn-ghost($btn-cls);
  }
}
