// 优化打包性能引入除了 preset 的内容, 顺序不可该变
@import '../../style/variables.scss'; // 引入 变量
@import '../../style/mixins/index.scss'; // 引入 reset

@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-col;

.#{$comp} {
  @include reset-component();

  position: relative;
  max-width: 100%;
  min-height: 1px;
}

// 生成 24 格栅栏样式
@include generate-grid();
@include generate-grid(xs);

@include media(sm) {
  @include generate-grid(sm);
}

@include media(md) {
  @include generate-grid(md);
}

@include media(lg) {
  @include generate-grid(lg);
}

@include media(xl) {
  @include generate-grid(xl);
}

@include media(xxl) {
  @include generate-grid(xxl);
}
