// 优化打包性能引入除了 preset 的内容, 顺序不可该变
@import '../../style/variables.scss'; // 引入 变量
@import '../../style/mixins/index.scss'; // 引入 reset

@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-space;

.#{$comp} {
  @include reset-component();
  display: inline-flex;
}

.#{$comp}--align-start {
  align-items: flex-start;
}

.#{$comp}--align-center {
  align-items: center;
}

.#{$comp}--align-baseline {
  align-items: baseline;
}

.#{$comp}--align-end {
  align-items: flex-end;
}

.#{$comp}--vertical {
  flex-direction: column;
}

.#{$comp}--wrap {
  flex-wrap: wrap;
}
