// 优化打包性能引入除了 preset 的内容, 顺序不可该变
@import '../../style/variables.scss'; // 引入 变量
@import '../../style/mixins/index.scss'; // 引入 BEM reset

@import './tokens.scss';
@import './mixins.scss';

@include b(space) {
  @include reset-component();

  display: inline-flex;

  @include m(align-start) {
    align-items: flex-start;
  }

  @include m(align-center) {
    align-items: center;
  }

  @include m(align-baseline) {
    align-items: baseline;
  }

  @include m(align-end) {
    align-items: flex-end;
  }

  @include m(vertical) {
    flex-direction: column;
  }

  @include m(wrap) {
    flex-wrap: wrap;
  }
}
