// 优化打包性能引入除了 preset 的内容
@import '../../style/core/index.scss'; // 引入 BEM
@import '../../style/themes/index.scss'; // 引入 变量
@import './mixins';
@include b(space) {
  @include reset-component();
  display: inline-flex;
  @include m(align-start) {
    align-items: flex-start;
  }
  @include m(align-center) {
    align-items: center;
  }
  @include m(align-baseline) {
    align-items: baseline;
  }
  @include m(align-end) {
    align-items: flex-end;
  }
  @include m(vertical) {
    flex-direction: column;
  }
  @include m(horizontal) {
  }
  @include m(wrap) {
    flex-wrap: wrap;
  }
}
