// 优化打包性能引入除了 preset 的内容
@import '@style/core/index.scss'; // 引入 BEM
@import '@style/themes/index.scss'; // 引入 变量
@import './variable';
@import './mixins';
@include b(divider) {
  @include reset-component();
  border-top: $divider-width solid $divider-color;
  // e
  @include e(inner-text) {
    display: inline-block;
    padding: 0 1em;
  }

  // m
  @include m(horizontal) {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: $divider-margin-base 0;
    @include m(with-text) {
      // 设定了文字
      display: flex;
      margin: $divider-margin-with-text 0;
      color: $text-color;
      font-weight: 500;
      font-size: 16px;
      white-space: nowrap;
      border-top: none;
      text-align: center;
      &::before,
      &::after {
        content: '';
        position: relative;
        top: 50%;
        transform: translateY(50%);
        border-top: $divider-width solid $divider-color;
      }
      @include m(plain) {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  @include m(dashed) {
    border-top-style: dashed;
  }
  @include m(vertical) {
    position: relative;
    top: -0.06em;
    display: inline-block;
    height: 0.9em;
    margin: 0 $divider-margin-vertical;
    vertical-align: middle;
    border-top: none;
    border-left: $divider-width solid $divider-color;
  }

  @include m(text-left) {
    @include divider-percent(5%);
    @include m(custom-margin) {
      @include divider-percent(0%);
    }
  }
  @include m(text-center) {
    @include divider-percent(50%);
  }
  @include m(text-right) {
    @include divider-percent(95%);
    @include m(custom-margin) {
      @include divider-percent(100%);
    }
  }
}
