// 引入 css 基础配置文件
@import '../../style/base.scss';

@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-badge;

.#{$comp} {
  @include reset-component();

  position: relative;
  display: inline-block;
  width: fit-content;

  &__indicator {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    display: inline-block;
    height: $kpi-badge-indicator-height;
    line-height: $kpi-badge-indicator-height;
    border-radius: $kpi-badge-indicator-radius;
    background-color: var(--#{$prefix}-color-error);
    padding: 0 var(--#{$prefix}-unit-2);
    color: var(--#{$prefix}-color-bg-container);
  }

  &-scroll-group {
    display: inline-block;
    height: 100%;
    overflow: hidden;
  }

  &-scroll-number {
    display: flex;
    flex-direction: column;
  }

  &-scroll-number-motion {
    &-enter-active {
      will-change: transform;
      transition: transform var(--kpi-motion-duration-3) var(--kpi-motion-ease-in-out);
    }
  }

  &-scroll-group-motion {
    &-enter-from,
    &-exit-to {
      opacity: 0;
    }

    &-enter-active,
    &-exit-active {
      overflow: hidden;
      will-change: opacity, width;
      transition: opacity var(--kpi-motion-duration-3) var(--kpi-motion-ease-in-out),
        width var(--kpi-motion-duration-3) var(--kpi-motion-ease-in-out);
    }
  }
}
