@import '../variables.scss';

@mixin reset-component() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--#{$prefix}-color-text-regular);
  font-size: var(--#{$prefix}-font-size-default);
  font-variant: var(--#{$prefix}-font-variant);
  line-height: var(--#{$prefix}-line-height-default);
  list-style: none;
  font-feature-settings: var(--#{$prefix}-font-feature-settings);
}
