// 优化打包性能引入除了 preset 的内容, 顺序不可该变
@import '../../style/variables.scss'; // 引入 变量
@import '../../style/mixins/index.scss'; // 引入 reset

@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-modal;

.#{$comp}-mask {
  @include full-screen();
  pointer-events: none;
  background-color: var(--#{$prefix}-color-overlay-lighter);
}

.#{$comp}-wrap {
  @include full-screen();
}

.#{$comp} {
  @include reset-component();

  width: 520px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  background-color: white;
  .#{$comp}__content {
  }

  .#{$comp}__header {
  }

  .#{$comp}__body {
  }

  .#{$comp}__footer {
  }
}
