// 优化打包性能引入除了 preset 的内容, 顺序不可该变
@import '../../style/variables.scss'; // 引入 变量
@import '../../style/mixins/index.scss'; // 引入 BEM reset

@import './tokens.scss';
@import './mixins.scss';

@include b(button) {
  @include reset-component();

  @include btn-base();

  @include btn-radius(var(--#{$prefix}-border-radius-default));

  color: var(--#{$prefix}-color-text-regular);
  border-color: var(--#{$prefix}-color-border-default);
  background-color: var(--#{$prefix}-color-background-default);

  @include pseudo(':hover') {
    color: var(--#{$prefix}-color-primary-default);
    border-color: var(--#{$prefix}-color-primary-light-7);
    background-color: var(--#{$prefix}-color-background-default);
  }

  @include pseudo(':active') {
    color: var(--#{$prefix}-color-primary-default);
    border-color: var(--#{$prefix}-color-primary-default);
    background-color: var(--#{$prefix}-color-background-default);
  }

  @include pseudo(':focus-visible') {
    outline-color: var(--#{$prefix}-color-primary-light-3);
    outline-offset: $kpi-btn-outline-offset;
  }

  @include m(theme-success) {
    color: var(--#{$prefix}-color-success-default);
    border-color: var(--#{$prefix}-color-success-default);

    @include pseudo(':hover') {
      color: var(--#{$prefix}-color-success-dark-2);
      border-color: var(--#{$prefix}-color-success-light-3);
    }

    @include pseudo(':active') {
      color: var(--#{$prefix}-color-success-dark-2);
      border-color: var(--#{$prefix}-color-success-dark-2);
    }

    @include pseudo(':focus-visible') {
      outline-color: var(--#{$prefix}-color-success-light-3);
      outline-offset: $kpi-btn-outline-offset;
    }
  }

  @include m(theme-warning) {
    color: var(--#{$prefix}-color-warning-default);
    border-color: var(--#{$prefix}-color-warning-default);

    @include pseudo(':hover') {
      color: var(--#{$prefix}-color-warning-dark-2);
      border-color: var(--#{$prefix}-color-warning-light-3);
    }

    @include pseudo(':active') {
      color: var(--#{$prefix}-color-warning-dark-2);
      border-color: var(--#{$prefix}-color-warning-dark-2);
    }

    @include pseudo(':focus-visible') {
      outline-color: var(--#{$prefix}-color-warning-light-3);
      outline-offset: $kpi-btn-outline-offset;
    }
  }

  @include m(theme-danger) {
    color: var(--#{$prefix}-color-danger-default);
    border-color: var(--#{$prefix}-color-danger-default);

    @include pseudo(':hover') {
      color: var(--#{$prefix}-color-danger-dark-2);
      border-color: var(--#{$prefix}-color-danger-light-3);
    }

    @include pseudo(':active') {
      color: var(--#{$prefix}-color-danger-dark-2);
      border-color: var(--#{$prefix}-color-danger-dark-2);
    }

    @include pseudo(':focus-visible') {
      outline-color: var(--#{$prefix}-color-danger-light-3);
      outline-offset: $kpi-btn-outline-offset;
    }
  }

  @include m(theme-info) {
    color: var(--#{$prefix}-color-info-default);
    border-color: var(--#{$prefix}-color-info-default);

    @include pseudo(':hover') {
      color: var(--#{$prefix}-color-info-dark-2);
      border-color: var(--#{$prefix}-color-info-light-3);
    }

    @include pseudo(':active') {
      color: var(--#{$prefix}-color-info-dark-2);
      border-color: var(--#{$prefix}-color-info-dark-2);
    }

    @include pseudo(':focus-visible') {
      outline-color: var(--#{$prefix}-color-info-light-3);
      outline-offset: $kpi-btn-outline-offset;
    }
  }

  // variant
  @include m(variant-filled) {
    color: $color-white;
    border-color: var(--#{$prefix}-color-primary-default);
    background-color: var(--#{$prefix}-color-primary-default);

    @include pseudo(':hover') {
      color: $color-white;
      border-color: var(--#{$prefix}-color-primary-light-3);
      background-color: var(--#{$prefix}-color-primary-light-3);
    }
    @include pseudo(':active') {
      color: $color-white;
      border-color: var(--#{$prefix}-color-primary-dark-2);
      background-color: var(--#{$prefix}-color-primary-dark-2);
    }

    @include m(theme-success) {
      border-color: var(--#{$prefix}-color-success-default);
      background-color: var(--#{$prefix}-color-success-default);

      @include pseudo(':hover') {
        border-color: var(--#{$prefix}-color-success-light-3);
        background-color: var(--#{$prefix}-color-success-light-3);
      }

      @include pseudo(':active') {
        border-color: var(--#{$prefix}-color-success-dark-2);
        background-color: var(--#{$prefix}-color-success-dark-2);
      }
    }

    @include m(theme-warning) {
      border-color: var(--#{$prefix}-color-warning-default);
      background-color: var(--#{$prefix}-color-warning-default);

      @include pseudo(':hover') {
        border-color: var(--#{$prefix}-color-warning-light-3);
        background-color: var(--#{$prefix}-color-warning-light-3);
      }

      @include pseudo(':active') {
        border-color: var(--#{$prefix}-color-warning-dark-2);
        background-color: var(--#{$prefix}-color-warning-dark-2);
      }
    }

    @include m(theme-danger) {
      border-color: var(--#{$prefix}-color-danger-default);
      background-color: var(--#{$prefix}-color-danger-default);

      @include pseudo(':hover') {
        border-color: var(--#{$prefix}-color-danger-light-3);
        background-color: var(--#{$prefix}-color-danger-light-3);
      }

      @include pseudo(':active') {
        border-color: var(--#{$prefix}-color-danger-dark-2);
        background-color: var(--#{$prefix}-color-danger-dark-2);
      }
    }

    @include m(theme-info) {
      border-color: var(--#{$prefix}-color-info-default);
      background-color: var(--#{$prefix}-color-info-default);

      @include pseudo(':hover') {
        border-color: var(--#{$prefix}-color-info-light-3);
        background-color: var(--#{$prefix}-color-info-light-3);
      }

      @include pseudo(':active') {
        border-color: var(--#{$prefix}-color-info-dark-2);
        background-color: var(--#{$prefix}-color-info-dark-2);
      }
    }
  }

  @include m(variant-dashed) {
    border-style: dashed;
  }

  @include m(variant-text) {
    color: var(--#{$prefix}-color-text-regular);
    border-color: transparent;
    background-color: transparent;

    @include pseudo(':hover') {
      color: var(--#{$prefix}-color-text-regular);
      border-color: transparent;
      background-color: var(--#{$prefix}-color-fill-light);
    }

    @include pseudo(':active') {
      color: var(--#{$prefix}-color-text-regular);
      border-color: transparent;
      background-color: var(--#{$prefix}-color-fill-default);
    }

    @include m(theme-success) {
      color: var(--#{$prefix}-color-success-default);
    }

    @include m(theme-warning) {
      color: var(--#{$prefix}-color-warning-default);
    }

    @include m(theme-danger) {
      color: var(--#{$prefix}-color-danger-default);
    }

    @include m(theme-info) {
      color: var(--#{$prefix}-color-info-default);
    }
  }

  @include m(variant-link) {
    color: var(--#{$prefix}-color-primary-default);
    border-color: transparent;
    background-color: transparent;

    @include pseudo(':hover') {
      color: var(--#{$prefix}-color-primary-light-3);
      border-color: transparent;
      background-color: transparent;
    }

    @include pseudo(':active') {
      color: var(--#{$prefix}-color-primary-dark-2);
      border-color: transparent;
      background-color: transparent;
    }

    @include m(theme-success) {
      color: var(--#{$prefix}-color-success-default);

      @include pseudo(':hover') {
        color: var(--#{$prefix}-color-success-light-3);
      }

      @include pseudo(':active') {
        color: var(--#{$prefix}-color-success-dark-2);
      }
    }

    @include m(theme-warning) {
      color: var(--#{$prefix}-color-warning-default);

      @include pseudo(':hover') {
        color: var(--#{$prefix}-color-warning-light-3);
      }

      @include pseudo(':active') {
        color: var(--#{$prefix}-color-warning-dark-2);
      }
    }

    @include m(theme-danger) {
      color: var(--#{$prefix}-color-danger-default);

      @include pseudo(':hover') {
        color: var(--#{$prefix}-color-danger-light-3);
      }

      @include pseudo(':active') {
        color: var(--#{$prefix}-color-danger-dark-2);
      }
    }

    @include m(theme-info) {
      color: var(--#{$prefix}-color-info-default);

      @include pseudo(':hover') {
        color: var(--#{$prefix}-color-info-light-3);
      }

      @include pseudo(':active') {
        color: var(--#{$prefix}-color-info-dark-2);
      }
    }
  }

  // size
  @include btn-size($kpi-btn-height-default, $kpi-btn-padding-default, $kpi-btn-font-size-default);

  @include m(size-small) {
    @include btn-size($kpi-btn-height-small, $kpi-btn-padding-small, $kpi-btn-font-size-small);
  }

  @include m(size-large) {
    @include btn-size($kpi-btn-height-large, $kpi-btn-padding-large, $kpi-btn-font-size-large);
  }

  // shape
  @include btn-radius(var(--#{$prefix}-border-radius-default));

  @include m(shape-round) {
    @include btn-radius(var(--#{$prefix}-border-radius-round));
  }

  @include m(shape-circle) {
    padding: 0;
    width: $kpi-btn-height-default;
    @include btn-radius(var(--#{$prefix}-border-radius-circle));

    @include m(size-small) {
      width: $kpi-btn-height-small;
    }

    @include m(size-large) {
      width: $kpi-btn-height-large;
    }
  }

  @include m(block) {
    width: 100%;
  }

  @include m(ghost) {
    background-color: transparent;

    @include pseudo(':hover') {
      background-color: transparent;
    }

    @include pseudo(':active') {
      background-color: transparent;
    }
  }

  // @include m(loading) {
  // }

  @include m(disabled) {
    color: $kpi-btn-color-text-disabled;
    border-color: var(--#{$prefix}-color-border-default);
    background-color: var(--#{$prefix}-color-background-default);
  }
}
