@use 'sass:math';

// 优化打包性能引入除了 preset 的内容
@import '../../style/variables.scss'; // 引入 变量
@import '../../style/mixins/bem.scss'; // 引入 BEM reset
@import '../../style/mixins/reset.scss'; // 引入 reset

@import './mixins';

@include b(button) {
  @include reset-component();

  @include btn-base();

  // theme
  @include btn-text-color(
    var(--#{$prefix}-color-foreground-default),
    var(--#{$prefix}-color-primary-400),
    var(--#{$prefix}-color-primary-600)
  );

  @include btn-border-color(
    var(--#{$prefix}-color-foreground-400),
    var(--#{$prefix}-color-primary-400),
    var(--#{$prefix}-color-primary-600)
  );

  @include btn-bg-color(
    var(--#{$prefix}-color-background-default),
    var(--#{$prefix}-color-background-default),
    var(--#{$prefix}-color-background-default)
  );

  @include m(theme-secondary) {
    @include btn-text-color(
      var(--#{$prefix}-color-secondary-default),
      var(--#{$prefix}-color-secondary-300),
      var(--#{$prefix}-color-secondary-700)
    );

    @include btn-border-color(
      var(--#{$prefix}-color-secondary-default),
      var(--#{$prefix}-color-secondary-300),
      var(--#{$prefix}-color-secondary-700)
    );
  }

  @include m(theme-success) {
    @include btn-text-color(
      var(--#{$prefix}-color-success-default),
      var(--#{$prefix}-color-success-300),
      var(--#{$prefix}-color-success-700)
    );

    @include btn-border-color(
      var(--#{$prefix}-color-success-default),
      var(--#{$prefix}-color-success-300),
      var(--#{$prefix}-color-success-700)
    );
  }

  @include m(theme-warning) {
    @include btn-text-color(
      var(--#{$prefix}-color-warning-default),
      var(--#{$prefix}-color-warning-300),
      var(--#{$prefix}-color-warning-700)
    );

    @include btn-border-color(
      var(--#{$prefix}-color-warning-default),
      var(--#{$prefix}-color-warning-300),
      var(--#{$prefix}-color-warning-700)
    );
  }

  @include m(theme-danger) {
    @include btn-text-color(
      var(--#{$prefix}-color-danger-default),
      var(--#{$prefix}-color-danger-300),
      var(--#{$prefix}-color-danger-700)
    );

    @include btn-border-color(
      var(--#{$prefix}-color-danger-default),
      var(--#{$prefix}-color-danger-300),
      var(--#{$prefix}-color-danger-700)
    );
  }

  // variant
  @include m(variant-filled) {
    // theme-default dark 模式下 default 与 400 重复
    @include btn-text-color(
      var(--#{$prefix}-color-primary-foreground),
      var(--#{$prefix}-color-primary-foreground),
      var(--#{$prefix}-color-primary-foreground)
    );

    @include btn-border-color(
      var(--#{$prefix}-color-primary-default),
      var(--#{$prefix}-color-primary-300),
      var(--#{$prefix}-color-primary-600)
    );

    @include btn-bg-color(
      var(--#{$prefix}-color-primary-default),
      var(--#{$prefix}-color-primary-300),
      var(--#{$prefix}-color-primary-600)
    );

    @include m(theme-secondary) {
      @include btn-text-color(
        var(--#{$prefix}-color-secondary-foreground),
        var(--#{$prefix}-color-secondary-foreground),
        var(--#{$prefix}-color-secondary-foreground)
      );

      @include btn-border-color(
        var(--#{$prefix}-color-secondary-default),
        var(--#{$prefix}-color-secondary-300),
        var(--#{$prefix}-color-secondary-600)
      );

      @include btn-bg-color(
        var(--#{$prefix}-color-secondary-default),
        var(--#{$prefix}-color-secondary-300),
        var(--#{$prefix}-color-secondary-600)
      );
    }

    @include m(theme-success) {
      @include btn-text-color(
        var(--#{$prefix}-color-success-foreground),
        var(--#{$prefix}-color-success-foreground),
        var(--#{$prefix}-color-success-foreground)
      );

      @include btn-border-color(
        var(--#{$prefix}-color-success-default),
        var(--#{$prefix}-color-success-300),
        var(--#{$prefix}-color-success-600)
      );

      @include btn-bg-color(
        var(--#{$prefix}-color-success-default),
        var(--#{$prefix}-color-success-300),
        var(--#{$prefix}-color-success-600)
      );
    }

    @include m(theme-warning) {
      @include btn-text-color(
        var(--#{$prefix}-color-warning-foreground),
        var(--#{$prefix}-color-warning-foreground),
        var(--#{$prefix}-color-warning-foreground)
      );

      @include btn-border-color(
        var(--#{$prefix}-color-warning-default),
        var(--#{$prefix}-color-warning-300),
        var(--#{$prefix}-color-warning-600)
      );

      @include btn-bg-color(
        var(--#{$prefix}-color-warning-default),
        var(--#{$prefix}-color-warning-300),
        var(--#{$prefix}-color-warning-600)
      );
    }

    @include m(theme-danger) {
      @include btn-text-color(
        var(--#{$prefix}-color-danger-foreground),
        var(--#{$prefix}-color-danger-foreground),
        var(--#{$prefix}-color-danger-foreground)
      );

      @include btn-border-color(
        var(--#{$prefix}-color-danger-default),
        var(--#{$prefix}-color-danger-300),
        var(--#{$prefix}-color-danger-600)
      );

      @include btn-bg-color(
        var(--#{$prefix}-color-danger-default),
        var(--#{$prefix}-color-danger-300),
        var(--#{$prefix}-color-danger-600)
      );
    }
  }

  @include m(variant-dashed) {
    border-style: dashed;
  }

  @include m(variant-text) {
    @include btn-text-color(
      var(--#{$prefix}-color-foreground-default),
      var(--#{$prefix}-color-foreground-default),
      var(--#{$prefix}-color-foreground-default)
    );

    @include btn-border-color(transparent, transparent, transparent);

    @include btn-bg-color(
      transparent,
      var(--#{$prefix}-color-default-100),
      var(--#{$prefix}-color-default-300)
    );

    @include m(theme-secondary) {
      @include btn-text-color(
        var(--#{$prefix}-color-secondary-default),
        var(--#{$prefix}-color-secondary-default),
        var(--#{$prefix}-color-secondary-default)
      );
    }

    @include m(theme-success) {
      @include btn-text-color(
        var(--#{$prefix}-color-success-default),
        var(--#{$prefix}-color-success-default),
        var(--#{$prefix}-color-success-default)
      );
    }

    @include m(theme-warning) {
      @include btn-text-color(
        var(--#{$prefix}-color-warning-default),
        var(--#{$prefix}-color-warning-default),
        var(--#{$prefix}-color-warning-default)
      );
    }

    @include m(theme-danger) {
      @include btn-text-color(
        var(--#{$prefix}-color-danger-default),
        var(--#{$prefix}-color-danger-default),
        var(--#{$prefix}-color-danger-default)
      );
    }
  }

  @include m(variant-link) {
    @include btn-text-color(
      var(--#{$prefix}-color-primary-default),
      ar(--#{$prefix}-color-primary-300),
      var(--#{$prefix}-color-primary-700)
    );

    @include btn-border-color(transparent, transparent, transparent);

    @include btn-bg-color(transparent, transparent, transparent);

    @include m(theme-secondary) {
      @include btn-text-color(
        var(--#{$prefix}-color-secondary-default),
        var(--#{$prefix}-color-secondary-300),
        var(--#{$prefix}-color-secondary-700)
      );
    }

    @include m(theme-success) {
      @include btn-text-color(
        var(--#{$prefix}-color-success-default),
        var(--#{$prefix}-color-success-300),
        var(--#{$prefix}-color-success-700)
      );
    }

    @include m(theme-warning) {
      @include btn-text-color(
        var(--#{$prefix}-color-warning-default),
        var(--#{$prefix}-color-warning-300),
        var(--#{$prefix}-color-warning-700)
      );
    }

    @include m(theme-danger) {
      @include btn-text-color(
        var(--#{$prefix}-color-danger-default),
        var(--#{$prefix}-color-danger-300),
        var(--#{$prefix}-color-danger-700)
      );
    }
  }

  // shape

  @include btn-shape($kpi-btn-shape-default);

  @include m(shape-round) {
    @include btn-shape($kpi-btn-shape-round);
  }

  @include m(shape-circle) {
    @include btn-shape($kpi-btn-shape-circle);

    min-width: $kpi-btn-size-height-middle;
    padding: 0;
    // @include btn-size($kpi-btn-size-height-middle, 0, $kpi-btn-size-font-middle);
  }

  // size

  @include btn-size(
    $kpi-btn-size-height-middle,
    $kpi-btn-size-padding-middle,
    $kpi-btn-size-font-middle
  );

  @include m(size-small) {
  }

  @include m(size-middle) {
  }

  @include m(size-large) {
  }

  @include m(loading) {
  }

  @include m(block) {
  }

  @include m(ghost) {
  }

  @include m(disabled) {
  }
}

@include b(wave) {
  border-radius: inherit;
  pointer-events: none;
  --wave-color: var(--#{$prefix}-color-primary-default);

  @include e(item) {
    position: absolute;
    inset: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: 0 0 0 0 var(--wave-color);
    opacity: 0.2;
    animation: wave-animate 1.5s cubic-bezier(0.08, 0.82, 0.17, 1);
  }

  $wave-width: 16px;
  @keyframes wave-animate {
    0% {
      box-shadow: 0 0 0 0 var(--wave-color);
    }
    30% {
      box-shadow: 0 0 0 6px var(--wave-color);
    }
    100% {
      box-shadow: 0 0 0 8px var(--wave-color);
      opacity: 0;
    }
  }
}
