@use 'sass:math';

// 优化打包性能引入除了 preset 的内容
@import '../../style/variables.scss'; // 引入 变量
@import '../../style/mixins/bem.scss'; // 引入 BEM reset
@import '../../style/mixins/reset.scss'; // 引入 reset

@import './mixins';

@include b(button) {
  @include reset-component();

  @include btn-base();

  // theme
  @include btn-text-color(
    (
      default: var(--#{$prefix}-color-foreground-default),
      hover: var(--#{$prefix}-color-primary-default),
      active: var(--#{$prefix}-color-primary-600),
    )
  );

  @include btn-border-color(
    (
      default: var(--#{$prefix}-color-foreground-400),
      hover: var(--#{$prefix}-color-primary-default),
      active: var(--#{$prefix}-color-primary-600),
    )
  );

  @include btn-bg-color(
    (
      default: transparent,
      hover: transparent,
      active: transparent,
    )
  );

  @include m(theme-secondary) {
    @include btn-text-color(
      (
        default: var(--#{$prefix}-color-secondary-default),
        hover: var(--#{$prefix}-color-secondary-400),
        active: var(--#{$prefix}-color-secondary-600),
      )
    );

    @include btn-border-color(
      (
        default: var(--#{$prefix}-color-secondary-default),
        hover: var(--#{$prefix}-color-secondary-400),
        active: var(--#{$prefix}-color-secondary-600),
      )
    );
  }

  @include m(theme-success) {
    @include btn-text-color(
      (
        default: var(--#{$prefix}-color-success-default),
        hover: var(--#{$prefix}-color-success-400),
        active: var(--#{$prefix}-color-success-600),
      )
    );

    @include btn-border-color(
      (
        default: var(--#{$prefix}-color-success-default),
        hover: var(--#{$prefix}-color-success-400),
        active: var(--#{$prefix}-color-success-600),
      )
    );
  }

  @include m(theme-warning) {
    @include btn-text-color(
      (
        default: var(--#{$prefix}-color-warning-default),
        hover: var(--#{$prefix}-color-warning-400),
        active: var(--#{$prefix}-color-warning-600),
      )
    );

    @include btn-border-color(
      (
        default: var(--#{$prefix}-color-warning-default),
        hover: var(--#{$prefix}-color-warning-400),
        active: var(--#{$prefix}-color-warning-600),
      )
    );
  }

  @include m(theme-danger) {
    @include btn-text-color(
      (
        default: var(--#{$prefix}-color-danger-default),
        hover: var(--#{$prefix}-color-danger-400),
        active: var(--#{$prefix}-color-danger-600),
      )
    );

    @include btn-border-color(
      (
        default: var(--#{$prefix}-color-danger-default),
        hover: var(--#{$prefix}-color-danger-400),
        active: var(--#{$prefix}-color-danger-600),
      )
    );
  }

  // variant
  @include m(variant-filled) {
    @include btn-text-color(
      (
        default: var(--#{$prefix}-color-primary-foreground),
        hover: var(--#{$prefix}-color-primary-foreground),
        active: var(--#{$prefix}-color-primary-foreground),
      )
    );

    @include btn-border-color(
      (
        default: var(--#{$prefix}-color-primary-default),
        hover: var(--#{$prefix}-color-primary-400),
        active: var(--#{$prefix}-color-primary-600),
      )
    );

    @include btn-bg-color(
      (
        default: var(--#{$prefix}-color-primary-default),
        hover: var(--#{$prefix}-color-primary-400),
        active: var(--#{$prefix}-color-primary-600),
      )
    );

    @include m(theme-secondary) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-secondary-foreground),
          hover: var(--#{$prefix}-color-secondary-foreground),
          active: var(--#{$prefix}-color-secondary-foreground),
        )
      );

      @include btn-border-color(
        (
          default: var(--#{$prefix}-color-secondary-default),
          hover: var(--#{$prefix}-color-secondary-400),
          active: var(--#{$prefix}-color-secondary-600),
        )
      );

      @include btn-bg-color(
        (
          default: var(--#{$prefix}-color-secondary-default),
          hover: var(--#{$prefix}-color-secondary-400),
          active: var(--#{$prefix}-color-secondary-600),
        )
      );
    }

    @include m(theme-success) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-success-foreground),
          hover: var(--#{$prefix}-color-success-foreground),
          active: var(--#{$prefix}-color-success-foreground),
        )
      );

      @include btn-border-color(
        (
          default: var(--#{$prefix}-color-success-default),
          hover: var(--#{$prefix}-color-success-400),
          active: var(--#{$prefix}-color-success-600),
        )
      );

      @include btn-bg-color(
        (
          default: var(--#{$prefix}-color-success-default),
          hover: var(--#{$prefix}-color-success-400),
          active: var(--#{$prefix}-color-success-600),
        )
      );
    }

    @include m(theme-warning) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-warning-foreground),
          hover: var(--#{$prefix}-color-warning-foreground),
          active: var(--#{$prefix}-color-warning-foreground),
        )
      );

      @include btn-border-color(
        (
          default: var(--#{$prefix}-color-warning-default),
          hover: var(--#{$prefix}-color-warning-400),
          active: var(--#{$prefix}-color-warning-600),
        )
      );

      @include btn-bg-color(
        (
          default: var(--#{$prefix}-color-warning-default),
          hover: var(--#{$prefix}-color-warning-400),
          active: var(--#{$prefix}-color-warning-600),
        )
      );
    }

    @include m(theme-danger) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-danger-foreground),
          hover: var(--#{$prefix}-color-danger-foreground),
          active: var(--#{$prefix}-color-danger-foreground),
        )
      );

      @include btn-border-color(
        (
          default: var(--#{$prefix}-color-danger-default),
          hover: var(--#{$prefix}-color-danger-400),
          active: var(--#{$prefix}-color-danger-600),
        )
      );

      @include btn-bg-color(
        (
          default: var(--#{$prefix}-color-danger-default),
          hover: var(--#{$prefix}-color-danger-400),
          active: var(--#{$prefix}-color-danger-600),
        )
      );
    }
  }

  @include m(variant-dashed) {
    border-style: dashed;
  }

  @include m(variant-text) {
    @include btn-text-color(
      (
        default: var(--#{$prefix}-color-foreground-default),
        hover: var(--#{$prefix}-color-foreground-default),
        active: var(--#{$prefix}-color-foreground-default),
      )
    );

    @include btn-border-color(
      (
        default: transparent,
        hover: transparent,
        active: transparent,
      )
    );

    @include btn-bg-color(
      (
        default: transparent,
        hover: var(--#{$prefix}-color-default-200),
        active: var(--#{$prefix}-color-default-default),
      )
    );

    @include m(theme-secondary) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-secondary-default),
          hover: var(--#{$prefix}-color-secondary-default),
          active: var(--#{$prefix}-color-secondary-default),
        )
      );
    }

    @include m(theme-success) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-success-default),
          hover: var(--#{$prefix}-color-success-default),
          active: var(--#{$prefix}-color-success-default),
        )
      );
    }

    @include m(theme-warning) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-warning-default),
          hover: var(--#{$prefix}-color-warning-default),
          active: var(--#{$prefix}-color-warning-default),
        )
      );
    }

    @include m(theme-danger) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-danger-default),
          hover: var(--#{$prefix}-color-danger-default),
          active: var(--#{$prefix}-color-danger-default),
        )
      );
    }
  }

  @include m(variant-link) {
    @include btn-text-color(
      (
        default: var(--#{$prefix}-color-foreground-default),
        hover: var(--#{$prefix}-color-primary-300),
        active: var(--#{$prefix}-color-primary-700),
      )
    );

    > span:hover {
      text-decoration: underline;
    }

    @include btn-border-color(
      (
        default: transparent,
        hover: transparent,
        active: transparent,
      )
    );

    @include btn-bg-color(
      (
        default: transparent,
        hover: transparent,
        active: transparent,
      )
    );

    @include m(theme-secondary) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-secondary-default),
          hover: var(--#{$prefix}-color-secondary-300),
          active: var(--#{$prefix}-color-secondary-700),
        )
      );
    }

    @include m(theme-success) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-success-default),
          hover: var(--#{$prefix}-color-success-300),
          active: var(--#{$prefix}-color-success-700),
        )
      );
    }

    @include m(theme-warning) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-warning-default),
          hover: var(--#{$prefix}-color-warning-300),
          active: var(--#{$prefix}-color-warning-700),
        )
      );
    }

    @include m(theme-danger) {
      @include btn-text-color(
        (
          default: var(--#{$prefix}-color-danger-default),
          hover: var(--#{$prefix}-color-danger-300),
          active: var(--#{$prefix}-color-danger-700),
        )
      );
    }
  }

  // shape

  @include btn-shape($kpi-btn-shape-default);

  @include m(shape-default) {
  }

  @include m(shape-round) {
  }

  @include m(shape-circle) {
  }

  // size

  @include btn-size(
    $kpi-btn-size-height-middle,
    $kpi-btn-size-padding-middle,
    $kpi-btn-size-font-middle
  );

  @include m(size-small) {
  }

  @include m(size-middle) {
    // @include btn-size(
    //   $btn-height-base,
    //   $btn-font-size-base,
    //   $btn-px-base,
    //   $btn-border-radius
    // );
  }

  @include m(size-large) {
  }

  @include m(loading) {
  }

  @include m(block) {
  }

  @include m(ghost) {
  }

  @include m(disabled) {
  }
}
