@use 'sass:math';
@import './variable';
// 主题。暂时不考虑 暗色模式、紧凑模式等
@mixin btn-theme(
  $text-color,
  $bg-color,
  $border-color,
  $text-color-hover,
  $bg-color-hover,
  $border-color-hover,
  $text-color-active,
  $bg-color-active,
  $border-color-active
) {
  @include btn-color($text-color, $bg-color, $border-color);
  &:hover,
  &:focus {
    @include btn-color($text-color-hover, $bg-color-hover, $border-color-hover);
  }
  &:active {
    @include btn-color($text-color-active, $bg-color-active, $border-color-active);
  }
}
@mixin btn-disabled($color: $btn-disabled-text, $bg: $btn-disabled-bg, $border: $btn-disabled-border) {
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      @include btn-color($color, $bg, $border);
      text-shadow: none;
      box-shadow: none;
    }
  }
}
// 大小
@mixin btn-size($height, $font-size, $px, $radius) {
  $diff: math.div($height - $font-size * $btn-line-height, 2);
  $py: max(math.div(round($diff * 10), 10) - $btn-border-width, 0);

  height: $height;
  padding: $py $px;
  font-size: $font-size;
  border-radius: $radius;
}
// 颜色
@mixin btn-color($text, $bg, $border) {
  color: $text;
  border-color: $border;
  @if ($bg) {
    background-color: $bg;
  }
}

@mixin btn-base() {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: $btn-border-width $btn-border-style transparent;
  box-shadow: $btn-shadow;
  cursor: pointer;
  transition: all 0.3s $ease-in-out;
  user-select: none;
  touch-action: manipulation;
  > span {
    display: inline-block;
  }
  > .#{$prefix-icon} {
    line-height: 1;
  }

  &,
  &:active,
  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus,
  &:active,
  &:not([disabled]):hover {
    text-decoration: none;
  }

  &:not([disabled]):active {
    outline: 0;
    box-shadow: none;
  }

  &[disabled] {
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
  }
}
