@use 'sass:math';
@import './variable';

@mixin btn-text-color($text) {
  color: map-get($text, 'default');

  &:hover,
  &:focus {
    color: map-get($text, 'hover');
  }

  &:active {
    color: map-get($text, 'active');
  }
}

@mixin btn-border-color($border) {
  border-color: map-get($border, 'default');

  &:hover,
  &:focus {
    border-color: map-get($border, 'hover');
  }

  &:active {
    border-color: map-get($border, 'active');
  }
}

@mixin btn-bg-color($bg) {
  background-color: map-get($bg, 'default');

  &:hover,
  &:focus {
    background-color: map-get($bg, 'hover');
  }

  &:active {
    background-color: map-get($bg, 'active');
  }
}

@mixin btn-size($height, $padding, $font) {
  height: $height;
  padding: 0 $padding;
  font-size: $font;
}

@mixin btn-shape($radius) {
  border-radius: $radius;
}

// @mixin btn-disabled(
//   $color: $btn-disabled-text,
//   $bg: $btn-disabled-bg,
//   $border: $btn-disabled-border
// ) {
//   &[disabled] {
//     &,
//     &:hover,
//     &:focus,
//     &:active {
//       @include btn-color($color, $bg, $border);
//       text-shadow: none;
//       box-shadow: none;
//     }
//   }
// }
// // 大小

@mixin btn-base() {
  position: relative;
  display: inline-block;
  font-weight: $kpi-btn-font-weight;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: $kpi-btn-border-width solid transparent;
  // box-shadow: var(--#{$prefix}-shadow--small);
  cursor: pointer;
  transition: $kpi-btn-transition;
  user-select: none;
  touch-action: manipulation;
  > span {
    display: inline-block;
  }
  > .#{$prefix-icon} {
    line-height: 1;
  }

  &,
  &:active,
  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus,
  &:active,
  &:not([disabled]):hover {
    text-decoration: none;
  }

  &:not([disabled]):active {
    outline: 0;
    box-shadow: none;
  }

  &[disabled] {
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
  }
}
