$kpi-btn-border-width: 1px;

$kpi-btn-padding-default: 5px 16px;

$kpi-btn-border-style: solid;

$kpi-btn-transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

$kpi-btn-size-default: var(--#{$prefix}-component-size-default);

$kpi-btn-font-weight: var(--#{$prefix}-font-weight-regular);
