// 优化打包性能引入除了 preset 的内容
@import '../../style/core/index.scss'; // 引入 BEM
@import '../../style/themes/index.scss'; // 引入 变量
@import './variable';
@import './mixins';

@include b(form) {
  @include reset-component();

  @include b(form-item) {
    @include reset-component();

    margin-bottom: $form-item-margin-bottom;
    vertical-align: top;

    @include e(row) {
      display: flex;
    }
    @include e(label) {
      display: inline-block;
      flex-grow: 0;
      overflow: hidden;
      white-space: nowrap;
      text-align: right;
      vertical-align: middle;

      @include m(required) {
        &::before {
          content: '*';
          display: inline-block;
          margin-right: 4px;
          color: $form-item-label-required-color;
          font-size: $form-item-label-font-size;
          font-family: SimSun, sans-serif;
          line-height: 1;
        }
      }

      @include m(has-colon) {
        &::after {
          content: ':';
          position: relative;
          top: -0.5px;
          margin-left: $form-item-label-colon-margin-left;
          margin-right: $form-item-label-colon-margin-right;
        }
      }
      > label {
        height: $form-item-label-height;
        position: relative;
        display: inline-flex;
        align-items: center;
        max-width: 100%;
        color: $form-item-label-color;
        font-size: $form-item-label-font-size;
      }
    }

    @include e(control-status) {
      display: flex;
      flex-wrap: nowrap;
    }

    @include e(control-extra) {
      clear: both;
      overflow: hidden;
      color: $form-item-message-color;
      font-size: $form-item-message-font-size;
      line-height: $form-item-message-line-height;
      transition: color $form-item-message-transition-duration
        $form-item-message-transition-timing-function;
    }
  }
}

@include b(form-item-message) {
  width: 100%;
  @extend .#{$prefix}-form-item__control-extra;

  @include m(error) {
    color: $form-item-message-error-color;
  }

  @include m(warning) {
    color: $form-item-message-warning-color;
  }
}
