// ant-design 设计语言 - 字体
/*
font-size   12 14 16 20 24 30 38 46 56 68
line-height 20 22 24 28 32 38 46 54 64 76
*/

// 字重
$font-normal: 400;
$font-medium: 500;
$font-bold: 600;

// 字体颜色
$heading-color: fade-out($black, 0.85);
$text-color: fade-out($black, 0.85);
$text-color-secondary: fade-out($black, 0.45);
$disable-color: fade-out($black, 0.25);
$border-color: fade-out($black, 0.15);
$divider-color: fade-out($black, 0.06);
$background-color: fade-out($black, 0.04);
$table-border-color: fade-out($black, 0.02);
