// ant-design 设计语言 - 阴影
/*
高度
0: 物体紧贴地面,投影与物体完全重,即不设置阴影值. 如: 输入框等控件
1: 物体位于低层级,处于怨妇状态时需要体现状态反馈, 如卡片 hover
2: 物体位于中层级,此时物体与基准面的关系是展开并跟随,
物体由地面上的元素展开产生,会跟随元素所在的层级的移动而移动,如: 下拉面板

3: 物体位于高层级,该物体的运动与其他层级没有关联.如: 对话框等
*/

// 光源

// 阴影值
/* 
1. 阴影向下: 主要用于组件内部或组件本身, 用于常规的场景
2. 阴影向上: 底部导航或工具栏
3. 阴影向左: 右侧导航栏,抽屉或者固定表格栏
4. 阴影向右: 左边导航栏、抽屉组件或固定表格栏
*/

// level-1
$shadow-1-up: 0 -1px 2px -2px rgba($black, 0.16), 0 -3px 6px 0 rgba($black, 0.12), 0 -5px 12px 4px rgba($black, 0.09);

$shadow-1-down: 0 1px 2px -2px rgba($black, 0.16), 0 3px 6px 0 rgba($black, 0.12), 0 5px 12px 4px rgba($black, 0.09);

$shadow-1-left: -1 0 2px -2px rgba($black, 0.16), 3px 0 6px 0 rgba($black, 0.12), -5px 0 12px 4px rgba($black, 0.09);

$shadow-1-right: 1px 0 2px -2px rgba($black, 0.16), 3px 0 6px 0 rgba($black, 0.12), 5px 0 12px 4px rgba($black, 0.09);

// level-2
$shadow-2-up: 0 -3px 6px -4px rgba($black, 0.12), 0 -6px 16px 0 rgba($black, 0.08), 0 -9px 28px 8px rgba($black, 0.05);

$shadow-2-down: 0 3px 6px -4px rgba($black, 0.12), 0 6px 16px 0 rgba($black, 0.08), 0 9px 28px 8px rgba($black, 0.05);

$shadow-2-left: -3px 0 6px -4px rgba($black, 0.12), -6px 0 16px 0 rgba($black, 0.08), -9px 0 28px 8px rgba($black, 0.05);

$shadow-2-right: 3px 0 6px -4px rgba($black, 0.12), 6px 0 16px 0 rgba($black, 0.08), 9px 0 28px 8px rgba($black, 0.05);

// level-3
$shadow-3-up: 0 -6px 16px -8px rgba($black, 0.08), 0 -9px 28px 0 rgba($black, 0.05),
  0 -12px 48px 16px rgba($black, 0.03);

$shadow-3-down: 0 6px 16px -8px rgba($black, 0.08), 0 9px 28px 0 rgba($black, 0.05), 0 12px 48px 16px rgba($black, 0.03);

$shadow-3-left: -6px 0 16px -8px rgba($black, 0.08), -9px 0 28px 0 rgba($black, 0.05),
  -12px 0 48px 16px rgba($black, 0.03);
$shadow-3-right: 6px 0 16px -8px rgba($black, 0.08), 9px 0 28px 0 rgba($black, 0.05),
  12px 0 48px 16px rgba($black, 0.03);
