@import '../variables.scss'; //引入变量

.#{$prefix}-badge-scroll-number {
  &-enter-from {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }

  &-exit-to {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }

  &-move,
  &-enter-active,
  &-exit-active {
    transition: all var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-ease-out-back);
  }

  &-exit-active {
    position: absolute;
  }
}
