@import '../variables.scss'; //引入变量

.#{$prefix}-fade-in {
  &-enter-from,
  &-exit-to {
    opacity: 0;
  }

  &-enter-active,
  &-exit-active {
    transition: all var(--#{$prefix}-motion-duration-slow) var(--#{$prefix}-motion-in-out-circ);
  }
}

.#{$prefix}-zoom-in-center {
}

.#{$prefix}-zoom-in-top {
  &-enter-from,
  &-exit-to {
    opacity: 0;
    transform: scaleY(0);
  }

  &-enter-active,
  &-exit-active {
    opacity: 1;
    transform: scaleY(1);
    transition: all var(--#{$prefix}-motion-duration-slow) var(--#{$prefix}-motion-in-back);
  }
}

.#{$prefix}-zoom-in-bottom {
}

.#{$prefix}-slide-left {
}

.#{$prefix}-slide-right {
}

.#{$prefix}-slide-top {
}

.#{$prefix}-slide-bottom {
  &-enter-from {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
  &-exit-to {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }

  &-enter-active,
  &-exit-active {
    transition: all var(--#{$prefix}-motion-duration-slow) var(--#{$prefix}-motion-in-out-circ);
  }
}
