@import '../variables.scss'; //引入变量

.#{$prefix}-fade-in {
  &-enter-from,
  &-exit-to {
    opacity: 0;
  }

  &-enter-active,
  &-exit-active {
    transition: opacity var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out-circ);
  }
}

.#{$prefix}-zoom-in-center {
}

.#{$prefix}-zoom-fast {
  &-enter-from,
  &-exit-to {
    opacity: 0;
    transform: scaleY(0.8);
  }

  &-enter-active {
    transition: opacity var(--#{$prefix}-motion-duration-1) var(--#{$prefix}-motion-out-circ),
      transform var(--#{$prefix}-motion-duration-1) var(--#{$prefix}-motion-out-circ);
  }
  &-exit-active {
    transition: opacity var(--#{$prefix}-motion-duration-1) var(--#{$prefix}-motion-in-out-circ),
      transform var(--#{$prefix}-motion-duration-1) var(--#{$prefix}-motion-in-out-circ);
  }
}

.#{$prefix}-zoom-in-bottom {
}

.#{$prefix}-slide-left {
}

.#{$prefix}-slide-right {
}

.#{$prefix}-slide-top {
}

.#{$prefix}-slide-bottom {
  &-enter-from,
  &-exit-to {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }

  &-enter-active,
  &-exit-active {
    transition: opacity var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out-circ),
      transform var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out-circ);
  }
}
