@import '../variables.scss'; // 引入变量

.#{$prefix}-form-item-message-error {
  &-enter-from,
  &-exit-to {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }

  &-enter-active,
  &-exit-active {
    transition: all var(--#{$prefix}-motion-duration-slow) var(--#{$prefix}-motion-in-out);
  }
}
