@import '../variables.scss'; // 引入变量

.#{$prefix}-form-item-message-error {
  &-enter-from,
  &-exit-to {
    opacity: 0;
    transform: translate3d(0, -4px, 0);
  }

  &-enter-active {
    overflow: hidden;
    transition: opacity var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out),
      transform var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out),
      height var(--#{$prefix}-motion-duration-2) var(--#{$prefix}-motion-in-out);
  }

  &-exit-active {
    transition: opacity var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out),
      transform var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out),
      height var(--#{$prefix}-motion-duration-2) var(--#{$prefix}-motion-in-out);
  }
}
