@import '../core/index.scss'; // 引入 BEM

@include b(err-list) {
  &-enter-from,
  &-exit-to {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }

  &-enter-active,
  &-exit-active {
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
