@import '../variables.scss'; //引入变量

.#{$prefix}-segmented-thumb {
  &-enter-active {
    user-select: none;
    will-change: transform, width, height;
    transition: transform var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out),
      width var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out),
      height var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out);
  }
}
