@import '../variables.scss'; //引入变量

.#{$prefix}-slide-bottom {
  &-enter-from,
  &-exit-to {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }

  &-enter-active,
  &-exit-active {
    transition: opacity var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out-circ),
      transform var(--#{$prefix}-motion-duration-3) var(--#{$prefix}-motion-in-out-circ);
  }
}
