@use 'sass:math';
// 优化打包性能引入除了 preset 的内容, 顺序不可该变
@import '../../style/variables.scss'; // 引入 变量
@import '../../style/mixins/index.scss'; // 引入 reset

@import './tokens.scss';
@import './mixins.scss';

$comp: #{$prefix}-segmented;

.#{$comp} {
  @include reset-component();
}

.#{$comp}__group {
  display: flex;
  background-color: #ccc;
  border-radius: 4px;
  padding: 4px;
}

.#{$comp}__thumb {
  transition: transform 0.3s ease-in-out;
}

.#{$comp}-item {
  position: relative;
  text-align: center;
  cursor: pointer;

  .#{$comp}-item__radio {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    opacity: 0;
  }

  .#{$comp}-item__label {
    padding: 4px 12px;
  }

  &.#{$comp}-item--selected {
    background-color: #fff;
    border-radius: 4px;
  }
}
