$comp: #{$prefix}-segmented;

/* ************************ segmented ************************ */

@include light() {
  .#{$comp} {
    --#{$comp}-color-bg: #f5f5f5;
  }
}

@include dark() {
  --#{$comp}-color-bg: #{$color-black};
}

$kpi-segmented-color-bg: var(--#{$prefix}-segmented-color-bg);

$kpi-segmented-color-text-default: var(--#{$prefix}-color-text-regular);

$kpi-segmented-color-text-selected: var(--#{$prefix}-color-text-primary);

$kpi-segmented-radius-sm: var(--#{$prefix}-border-radius-small);

$kpi-segmented-radius-default: var(--#{$prefix}-border-radius-default);

$kpi-segmented-radius-lg: var(--#{$prefix}-border-radius-large);

$kpi-segmented-padding-default: var(--#{$prefix}-size-unit-0_5);

/* ************************ thumb ************************ */

@include light() {
  --#{$prefix}-segmented-thumb-color-bg: #1f1f1f;
}

@include dark() {
  --#{$prefix}-segmented-thumb-color-bg: #{$color-black};
}

$kpi-segmented-thumb-color-bg: var(--#{$prefix}-color-background-default);

$kpi-segmented-thumb-shadow: var(--#{$prefix}-box-shadow-lighter);

$kpi-segmented-thumb-padding-default: var(--#{$prefix}-size-unit-0_5) 0;

$kpi-segmented-thumb-radius-default: $kpi-segmented-radius-default;

/* ************************ item ************************ */

$kpi-segmented-item-min-height-default: calc(
  var(--#{$prefix}-component-size-default) - $kpi-segmented-padding-default * 2
);

$kpi-segmented-item-line-height-default: $kpi-segmented-item-min-height-default;

$kpi-segmented-item-padding-default: 0
  calc(var(--#{$prefix}-size-unit-3) - var(--#{$prefix}-size-unit-0_5) / 2);

$kpi-segmented-item-radius-default: $kpi-segmented-radius-default;

$kpi-segmented-item-shadow: $kpi-segmented-thumb-shadow;

$kpi-segmented-item-color-bg: $kpi-segmented-thumb-color-bg;
