$kpi-checkbox-outline-width: 2px;

$kpi-checkbox-input-width: var(--#{$prefix}-component-size-extra-small);

$kpi-checkbox-input-height: var(--#{$prefix}-component-size-extra-small);

$kpi-checkbox-arrow-width: calc($kpi-checkbox-input-width / 14 * 5);

$kpi-checkbox-arrow-height: calc($kpi-checkbox-input-height / 14 * 8);

$kpi-checkbox-arrow-transition-enter: all var(--#{$prefix}-motion-duration-fast)
    var(--#{$prefix}-motion-in-back),
  opacity var(--#{$prefix}-motion-duration-fast);

$kpi-checkbox-arrow-transition-exit: all var(--#{$prefix}-motion-duration-mid)
    var(--#{$prefix}-motion-out-back),
  opacity var(--#{$prefix}-motion-duration-fast);

$kpi-checkbox-input-transition: all var(--#{$prefix}-motion-duration-slow);

$kpi-checkbox-outline-offset: 1px;
