// 优化打包性能引入除了 preset 的内容
@use 'sass:math';
@import '../../style/core/index.scss'; // 引入 BEM
@import '../../style/themes/index.scss'; // 引入 变量
@import './variable';
@import './mixins';

@include b(col) {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}
// 生成 24 格栅栏样式
@include generate-grid(#{$prefix}-col, 24);
